/*Estilo Css creado por Alejandro Pérez Forcada, Febrero de 2023 */

body{
    background-image: url('../Imagenes/3c5268cfa291fd9fd0a362f4ca785943.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    

}
#contenedor {
    margin:0 auto;
    width:1300px;
}
.titulo{
    
 
    text-align: center;
    
    font-family: "Brush Script MT";
    color: aliceblue;
}
.header{
    
    text-align: center;
    width:750px;
    height:40px;
    margin-top: 20px;
    margin-right: 100px;
    margin-bottom: 20px;
    margin-left: 240px;
    font-family: "Brush Script MT";
    font-weight: 50;
    
    color: aliceblue;
}
.parrafo{
   
   
    width: 500px;
    font-family: "Brush Script MT";
    color: aliceblue;
    

}

h2{
   
    
   
    text-align: center;
    font-family: "Brush Script MT";
    color: aliceblue;

}
h3{
   
    
    
    text-align: center;
    font-family: "Brush Script MT";
    color: aliceblue;
}
img{
    

}
a:link{
    color: aliceblue;
}
a:visited{
    color: aliceblue;
}
ul{
    
    
    font-family: "Brush Script MT";
    color: aliceblue;
    
    

}
ol{
    
    
    font-family: "Brush Script MT";
    color: aliceblue;
   
    
}
.pie{
    
    
    font-family: "Brush Script MT";
    color: aliceblue;
    margin-right: 1100px;
    text-align: center;

}
.oltabla{
   
    
    font-family: "Brush Script MT";
    color: aliceblue;
    
}

table{
    
    
    font-family: "Brush Script MT";
    color: aliceblue;
}
form {
    
    font-family: "Brush Script MT";
    color: aliceblue;
   
   

  }

  .float{
    
    float:left;
    margin-left: 100px;
  }
  .centre{
    display:grid;
    place-content: center;
    clear:both;
    text-align: center;
  }
  .fotos{
    margin-left: 75px;
    display:grid;
    place-content: center;
    clear:both;
    text-align: center;

  }